@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border
  }

  body {
    @apply bg-no-repeat bg-cover h-full 
  }

  html {
    font-family: 'KoHo', sans-serif;
  }

  a {
    @apply no-underline
  }

  button {
    @apply focus:outline-dotted focus:ring focus:ring-violet-300
  }
}

:root {
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
}