@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-no-repeat bg-cover h-full
  }
}

:root {
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
}